@font-face {
    font-family: "thin";
    src: url(fonts/Urbanist-Thin.ttf);
}

@font-face {
    font-family: "italic";
    src: url(fonts/Urbanist-ThinItalic.ttf);
}

@font-face {
    font-family: "regular";
    src: url(fonts/Urbanist-Regular.ttf);
}