@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes float {
    50%{
        transform: translateY(-10%);
    }
}

@keyframes scale {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

  